# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [109]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [159]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [165]:
sinasc_raw[['munResNome','IDADEMAE','IDADEPAI']].groupby('munResNome',as_index=False).mean()

                   munResNome   IDADEMAE   IDADEPAI
0       Alta Floresta D'Oeste  25.991826  29.548701
1     Alto Alegre dos Parecis  24.844156  29.179104
2                Alto Paraíso  24.960177  28.833333
3            Alvorada D'Oeste  25.770732  30.757282
4                   Ariquemes  25.607866  32.466667
5                     Buritis  25.559177  30.812500
6                      Cabixi  26.037500  34.333333
7                 Cacaulândia  25.546667  36.333333
8                      Cacoal  26.890102  30.931854
9      Campo Novo de Rondônia  24.825301  30.500000
10         Candeias do Jamari  25.243323  29.894737
11               Castanheiras  27.281250  30.392857
12                 Cerejeiras  27.240506  31.652778
13                Chupinguaia  25.333333  29.629630
14          Colorado do Oeste  27.602804  34.354839
15                 Corumbiara  24.716535  32.470588
16              Costa Marques  24.412017  30.613636
17                    Cujubim  24.482927  31.400000
18            Espigão D'Oeste  26.093333  31.198113
19  Governador Jorge Teixeira  24.401786  29.222222
20              Guajará-Mirim  25.462228  30.470588
21            Itapuã do Oeste  26.064220  42.500000
22                       Jaru  25.982974  32.197183
23                  Ji-Paraná  26.361137  31.132239
24         Machadinho D'Oeste  25.480000  31.326923
25         Ministro Andreazza  27.904762  33.849315
26           Mirante da Serra  26.304878  32.154762
27                Monte Negro  25.648241  34.678571
28    Município ignorado - RO  24.000000  22.000000
29   Nova Brasilândia D'Oeste  26.222222  30.520833
30                Nova Mamoré  25.326389  31.692308
31                 Nova União  26.894231  31.371429
32    Novo Horizonte do Oeste  26.938776  31.588235
33        Ouro Preto do Oeste  26.375594  31.233244
34                    Parecis  26.454545  32.473684
35              Pimenta Bueno  25.199675  29.745174
36       Pimenteiras do Oeste  25.075000  35.600000
37                Porto Velho  26.312670  32.352679
38          Presidente Médici  25.796053  30.150754
39      Primavera de Rondônia  27.023256  31.888889
40                 Rio Crespo  26.660000  28.000000
41             Rolim de Moura  26.600863  30.360479
42        Santa Luzia D'Oeste  26.121212  30.703297
43               Seringueiras  24.910714  30.500000
44         São Felipe D'Oeste  26.481481  31.395833
45   São Francisco do Guaporé  25.660066  31.638889
46      São Miguel do Guaporé  25.926346  32.666667
47              Teixeirópolis  26.031250  31.500000
48                  Theobroma  25.536082  30.083333
49                      Urupá  26.688235  31.008929
50              Vale do Anari  26.096774  34.000000
51            Vale do Paraíso  25.679012  29.976744
52                    Vilhena  26.433962  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [167]:
sinasc_aniv = sinasc_raw[['SEXO','PESO','ESCMAE']][sinasc_raw.DTNASC == '2019-10-29']
sinasc_aniv.groupby(['SEXO','ESCMAE']).mean()

                                  PESO
SEXO      ESCMAE
Feminino  12 anos ou mais  3398.400000
          4 a 7 anos       3216.666667
          8 a 11 anos      3120.000000
Masculino 12 anos ou mais  3478.384615
          4 a 7 anos       3388.000000
          8 a 11 anos      3285.272727

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [168]:
#contagem de nascidos municípios
sinasc_raw.munResNome.value_counts()

Porto Velho                  8437
Ji-Paraná                    2182
Ariquemes                    1729
Vilhena                      1590
Cacoal                       1374
Rolim de Moura                927
Jaru                          881
Guajará-Mirim                 781
Ouro Preto do Oeste           631
Pimenta Bueno                 616
Buritis                       583
Machadinho D'Oeste            500
Espigão D'Oeste               450
Nova Mamoré                   432
Alta Floresta D'Oeste         367
São Miguel do Guaporé         353
Candeias do Jamari            337
Presidente Médici             304
São Francisco do Guaporé      303
Nova Brasilândia D'Oeste      261
Cerejeiras                    237
Costa Marques                 233
Alto Paraíso                  226
Colorado do Oeste             214
Alvorada D'Oeste              205
Cujubim                       205
Monte Negro                   199
Urupá                         170
Seringueiras                  168
Campo Novo de Rondônia        166
Mirante da Serra              164
Chupinguaia                   162
Alto Alegre dos Parecis       154
Corumbiara                    127
Governador Jorge Teixeira     112
Itapuã do Oeste               109
Nova União                    104
Santa Luzia D'Oeste            99
Novo Horizonte do Oeste        98
Theobroma                      97
Vale do Anari                  93
Ministro Andreazza             84
Vale do Paraíso                81
Cabixi                         80
Cacaulândia                    75
Teixeirópolis                  64
São Felipe D'Oeste             54
Rio Crespo                     50
Parecis                        44
Primavera de Rondônia          43
Pimenteiras do Oeste           40
Castanheiras                   32
Município ignorado - RO         1
Name: munResNome, dtype: int64

In [110]:
print('Município com menos nascimentos é: ')
sinasc_raw.munResNome.value_counts().index[-2]

Município com menos nascimentos é:

'Castanheiras'

In [170]:
#idade media, maxima, minima das maes e pais desse município
sinasc_item3 = sinasc_raw[sinasc_raw.munResNome == 'Castanheiras']
sinasc_item3[['munResNome','IDADEMAE','IDADEPAI']].groupby('munResNome').agg({'IDADEMAE':['min','mean','max'],'IDADEPAI':['min','mean','max']})

             IDADEMAE               IDADEPAI
                  min      mean max      min       mean   max
munResNome
Castanheiras       17  27.28125  39     17.0  30.392857  43.0

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [152]:
#FILTRANDO nascidos no mês de Março
sinasc_marco = sinasc_raw[sinasc_raw.DTNASC.map(lambda x:'-03-' in x )]
sinasc_marco.DTNASC.head()

3     2019-03-20
4     2019-03-23
5     2019-03-27
9     2019-03-11
10    2019-03-11
Name: DTNASC, dtype: object

In [157]:
#Município de maior incidência de nascidos
sinasc_marco.munResNome.value_counts().index[0]

'Porto Velho'

In [164]:
## Min, Média e Max quantidade filhos vivos
sinasc_marco[sinasc_marco.munResNome == 'Porto Velho'][['munResNome','QTDFILVIVO']].groupby('munResNome', as_index=False).agg({'QTDFILVIVO':['min','mean','max']})

    munResNome QTDFILVIVO
                      min      mean  max
0  Porto Velho        0.0  1.295056  9.0

In [161]:
## ## Min, Média e Max idade pais
sinasc_marco[sinasc_marco.munResNome == 'Porto Velho'][['munResNome','IDADEMAE','IDADEPAI']].groupby('munResNome', as_index=False).agg({'IDADEMAE':['min','mean','max'],'IDADEPAI':['min','mean','max']})

    munResNome IDADEMAE                IDADEPAI
                    min       mean max      min       mean   max
0  Porto Velho       14  26.596774  44     19.0  34.629032  62.0

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

### INSIGHT identificados

    TAREFA 1
        No item 1 da tarefa podemos ver que a média das idades do PAI é maior que a da mãe.

    #TAREFA 2
        O peso dos bebês de sexo masculino possuem uma média maior dos de sexo feminino, também identificado que mães com mais de 12 anos de escolaridade possuem bebês com maior peso.